html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  padding: 1% 6%;
}


.cabecalho {
  background-image: url(../../Logos/logo.png) no-repeat top right;
  vertical-align: middle;
}

a.list-group-item:hover{
  color:white;
  background-color:#337ab7;
}

a.list-group-item{
  text-align:center;
}

section#sorting {
    margin-bottom: 10px;
}
a.sortOption{
  margin:5px;
  font-size:11px;
  text-decoration:none;
  cursor:pointer;
  font-weight:200;
  
}

section.info {
    float: left;
    width: 70%;
    margin: 5px;
}

section.profileImage {
    width: 25%;
    float: right;
}

p#bio{
    display: inline-block;
    width: 100%;
    margin-left: 10px;
}

input.ng-invalid-required.ng-touched.ng-dirty{
  border:1px solid red;
}

.cp-font {
  font-family: 'TBC';
}

.cp-color {
  color: #34495E;
}

#main-title {
  font-size: 2.4em; 
}

div.navbar-collapse.collapse {
  display: block;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
  max-height: 2000px;
}