<div class="mainContainer">
  <h3 class="text-center cp-font cp-color" id="main-title">CLASSPIC</h3>
  <!-- nav section -->
  <div class="container well">
    <nav class="" ng-controller="navCtrl">
      <div class="container-fluid">
        <div class="nav-header">
          <ul class="nav nav-tabs center-block" ng-controller="navCtrl">
            <li ng-repeat="navLink in nav.navItems" ng-class="{active : $index === nav.selectedIndex}">
              <a class="text-center cp-color cp-font" ng-click="nav.navClick($index)" ng-href="#/{{navLink}}">{{navLink}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row" ng-controller="homeCtrl">
      <!--     buddy list      -->
      <div class="col-xs-12 col-sm-3 panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <input class="form-control cp-color cp-font" placeholder="SEARCH" type="text" ng-model="searchText">
          </li>
        </ul>
      </div>

      <!--   ng-view below       -->
      <div class="col-xs-12 col-sm-9 col-md-9">
        <div class="list-group panel-body">
          <div ng-view></div>
        </div>
      </div>

    </div>
  </div>
</div>
    
