<div class="col-xs-12 col-sm-8 col-md-8 panel panel-default">
    <div class="panel-body">
    	
    	<div ng-controller="CreateCtrl">
	      <div class="list-group-item">
	        <h3 class="text-center">Edit Discipline</h3>
	        <form name="CreateForm">
	        <div class="form-group">
	    
	          <p><label for="discipline">Discipline Name: <b style="color: red;">*</b> </label> <input id="discipline" class="form-control" type="text" ng-model="currentDiscipline.discipline" placeholder="Enter a discipline name" required> </p>
	          <p><label for="class">Class: </label> <input id="class" class="form-control" type="text" ng-model="currentDiscipline.clss" placeholder="Enter your your class"> </p>
	          <p><label for="obs">Obs:</label></p>
	          <textarea class="form-control" id="obs" rows="3" ng-model="currentDiscipline.obs"></textarea>

	        </div>

	        <a href="#/list">
	          <button class="btn btn-default" ng-disabled="CreateForm.$invalid">
	             <span class="glyphicon glyphicon-ok"></span>
	             <span> Save</span>
	            </button>
	        </a>

	        <a href="#/list">
	          <button class="btn btn-default">
	              <span class="glyphicon glyphicon-remove"></span><span>  Cancel</span>
	            </button>
	        </a>
	        </form>
	      </div>
	    </div>
    </div>
</div>